#buttons .dt, #buttons .mal{color:red;font-size: 15px;background: transparent;border: 2px solid black;border-radius: 10%;padding: 2rem;}
#buttons .dt:hover, #buttons .mal:hover{color: green;border-color: white;}
